body {
    margin: 0;
    background-color: #0f0d4a;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
}

h2 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 90px;
    height: 75px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    margin: 20px;
}

.score h1 {
    color: #F94F6D;
}

.btn {
    background-color: #0f0d4a;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 4px;
    padding: 4px 8px;
    font-family: 'Cursed Timer ULiL', sans-serif;
}